@font-face {
    font-family: "overused grotesk";
    src: url("./OverusedGrotesk-VF.ttf") format("truetype");
}

* {
    font-family: "overused grotesk";
    text-align: center;
}

.divTitle {
    width: 100%;
    text-align: center;
}

h1 {
    display: inline;
    width: fit-content;
    font-size: 4vw;
}

h2 {
    display: inline;
    width: fit-content;
    font-size: 2vw;
}

a,
a:visited,
.thum {
    min-width: 24vw;
    max-width: 32vw;
    margin: auto auto;
    color: black;
}

a:active {
    color: blue;
}

.gridContainer {
    /*border: 1px solid black;*/
    border-radius: 5px;
    background-color: #eee;
}

.divGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: auto;
}

h3 {
    display: inline;
    width: 100%;
    font-size: 2vw;
    text-align: left;
    margin-left: auto;
    font-variation-settings: "slnt" -10;
}

#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    z-index: 99;
    background-color: white;
    width: 100%;
    height: 100%;
}
